<div class="footer-area">
    <div class="footer-top-area  section-bg-1 plr--5 section-space-y-axis-100 text-black" data-bg-color="#f5f3eb" style="font-family:'Roboto', sans-serif">
        <div class="container-fluid">
            <div class="row"  style="justify-content: center;padding-bottom:50px">
                <div class="col-xl-3 col-md-6 col-sm-6 col-12">
                    <div class="widget-item" style="font-family:'Nunito sans',sans-serif">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/assets/images/logo/dark.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">CÔNG TY XUẤT NHẬP KHẨU KIÊN THẮNG.</p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    5 Đ. Nguyễn Khuyến, Trảng Dài, Thành phố Biên Hòa, Đồng Nai.
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://kin.havent.e@gmail.com">kin.havent.e@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-mobile"></i>
                                    <a href="tel:0911609741">091.160.9741</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="/assets/images/payment/2.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5" style="font-size:22px;font-weight:700">Cửa Hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Giới Thiệu</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tin tức</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Sản Phẩm</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5" style="font-size:22px;font-weight:700">Dịch vụ</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)" >Đơn Hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Đăng nhập</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Tài khoản</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Vận chuyển</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5" style="font-size:22px;font-weight:700">Feed back</h3>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#212934">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">© Shop thực phẩm sạch Made With <i class="fa fa-heart text-danger"></i> By  Nguyễn Trọng Kiên & Đinh Cao Thắng </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>